.bracket {
    display: flex;
    flex-direction: row;
    column-gap: 10em;
    margin-left: 3em;
}

// Bracket Skeleton

.play-in {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

.round1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.round2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.round3 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.round4 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.winner {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.game {
    margin: 20px 0;
}

h3 {
    margin: 5px 0;
    text-align: right;
}

// Team Styling

.team {
    border-style: solid;
    display: flex;
    justify-content: space-between;
}