body {
    background-color: lightgray;
    margin: 0;
}

//added to the body to prevent scrolling when mobile menu is open
.lock-scroll {
    overflow: hidden;
}

.bracket {
    display: flex;
    flex-direction: row;
    column-gap: 7em;
    margin: 0 3em;
    background-color: lightgray;
}

// Bracket Skeleton

.play-in {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

.round1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.round2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.round3 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.round4 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.winner {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.game {
    margin: 20px 0;
}

h3 {
    margin: 5px 5px 5px 0px;
    text-align: right;
    font-size: 16px;
    font-style: italic;
}

#champion {
    justify-content: space-around;
    margin-right: 3em;
}

// .team::after {
//     content: url(../../images/line1.svg);
// }

// Team Styling

.team {
    min-height: 27px;
    min-width: 200px;
    background-color: white;
    display:block;
}

.team-name {
    width: fit-content;
    max-width: 125px;
    border-style: none;
}

.team-name:focus {
    outline: none;
}

.team-score {
    max-width: 23px;
    border-style: none;
    margin: 0;
    text-align: right;
    background-color: lightblue;
}

.team-score:focus {
    outline: none;
}

.team p {
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
}

// Remove up and down arrow buttons on team-score input

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

// Team Generator
#wrapper {
    text-align: center;
    max-width: 1000px;
    align-self: center;
    margin: auto;
}

#num-teams-wrapper {
    margin-top: 2em;
}

#team-input-list {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    align-items: center;
    justify-content: center;
}

.teamName {
    width: fit-content;
    max-width: 50%;
    min-width: 250px;
    margin-bottom: 10px;
}

#teamSubmitButton {
    max-width: fit-content;
}

//Draggables

.team.dragging {
    opacity: .5;
}

.draggable {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
    background-color: white;
    padding: 5px;
    column-gap: 10px;
}

// Navigation -- Mobile

#burger-container {
    text-align: right;
}

#primaryNav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $lightPurple;
    position: absolute;
    width: 100%;
    justify-content: flex-start;
    transition: all 400ms;
    z-index: 2;
}

#navList {
    display: flex;
    flex-direction: column;
    column-gap: 1em;
}

.navLink {
    list-style-type: none;
    
}

.nav-item {
    text-decoration: none;
}

.nav-inactive {
    right: -100%;
}

.nav-active {
    right: 0;
}

// Container
#main-container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

// Counter

#count-down-section {
    background-color: $primaryBlue;
    width: fit-content;
    padding: .5em;
    margin-top: 1em;
}

#count-down-section h2 {
    color: white;
    margin: 0;
}

#counter {
    font-size: 3em;
    margin: 0;
    color: white;
    margin: 0;
}

// Weather

#weather {
    background-color: $mediumPurple;
    width: fit-content;
    padding: .5em;
    margin-top: 1em;
}

#weather>h2 {
    color: white;
    margin: 0;
}

#temperature {
    font-size: 3em;
    color: white;
    margin: 0;
}